.necklace-child,
.necklace-item {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.necklace-child {
  width: 100px;
  height: 100px;
  display: none;
}
.necklace-item {
  margin-top: -282px;
  align-self: stretch;
  max-width: 100%;
  max-height: 100%;
}
.treasure-the-moments {
  margin: 0;
  font-size: var(--font-size-13xl);
}
.necklace-treasure-the-container {
  width: 1004px;
  height: 112px;
  position: relative;
  line-height: 140%;
  font-family: var(--font-adamina);
  color: var(--color-black);
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  font-size: var(--font-size-31xl);
}
.image-icon {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.text1 {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-strong1 {
  position: relative;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 22px;
  white-space: nowrap;
}
.text-strong {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-small1 {
  position: relative;
  line-height: 140%;
}
.body,
.product-info-card,
.text-small {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-small {
  display: none;
  flex-direction: row;
  font-size: var(--body-small-size);
  color: var(--text-default-secondary);
}
.body,
.product-info-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
}
.product-info-card {
  height: 347px;
  box-shadow: 10px 12px 7px rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  padding: var(--space-400) var(--padding-mini);
  gap: var(--space-400);
  min-width: 240px;
  cursor: pointer;
}
.icon,
.space-dividers-icon {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.icon {
  width: 24px;
  height: 48px;
  right: 13px;
  bottom: 20px;
}
.space-dividers-icon {
  width: 209px;
  height: 247px;
  top: 16px;
  right: 15px;
  object-fit: cover;
}
.product-info-card1,
.small-card-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.small-card-row {
  flex: 1;
  position: relative;
  min-width: 235px;
  max-width: 240px;
}
.product-info-card1 {
  align-self: stretch;
  height: 347px;
  box-shadow: 10px 12px 7px rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  padding: var(--space-400) var(--padding-mini);
  gap: var(--space-400);
  min-width: 240px;
}
.icon1 {
  width: 24px;
  height: 48px;
  right: 16px;
  bottom: 20px;
}
.icon1,
.icon2,
.icon3 {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.icon2 {
  width: 208px;
  height: 245px;
  top: 16px;
  left: calc(50% - 104px);
  object-fit: cover;
}
.icon3 {
  width: 24px;
  height: 48px;
  right: 15px;
  bottom: 18px;
}
.icon4 {
  width: 207px;
  height: 250px;
  top: 16px;
  left: 16px;
  object-fit: cover;
}
.icon4,
.icon5,
.icon6 {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.icon5 {
  width: 24px;
  height: 48px;
  right: 17px;
  bottom: 18px;
}
.icon6 {
  width: 209px;
  height: 245px;
  top: 16px;
  left: 15px;
  object-fit: cover;
}
.product-info-card4 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 10px 12px 7px rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--space-400) var(--padding-mini);
  gap: var(--space-400);
  min-width: 240px;
  cursor: pointer;
}
.icon7 {
  position: absolute;
  top: 281px;
  left: 200px;
  width: 24px;
  height: 48px;
  z-index: 1;
}
.info-card-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-xl);
}
.icon8 {
  position: absolute;
  top: 281px;
  left: 201px;
  width: 24px;
  height: 48px;
  z-index: 1;
}
.product-info-card-parent {
  height: 347px;
  flex: 1;
  position: relative;
  min-width: 235px;
  max-width: 240px;
}
.icon10,
.icon9 {
  position: absolute;
  top: 281px;
  left: 198px;
  width: 24px;
  height: 48px;
  z-index: 1;
}
.icon10 {
  top: 284px;
  left: 201px;
}
.product-info-card8 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 10px 12px 7px rgba(0, 0, 0, 0.25);
  border-radius: var(--radius-200);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  width: 240px;
  height: 347px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--space-400) var(--padding-mini);
  gap: var(--space-400);
  min-width: 240px;
  cursor: pointer;
}
.small-card-row2 {
  height: 347px;
  flex: 1;
  position: relative;
  min-width: 240px;
  max-width: 245px;
}
.icon12 {
  position: absolute;
  top: 279px;
  left: 197px;
  width: 24px;
  height: 48px;
  z-index: 1;
}
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 2px 0 0;
  gap: 19px;
}
.product-content,
.product-content-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.product-content {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 28px;
}
.product-content-wrapper {
  width: 1381px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-30xl) 46px;
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--body-strong-size);
  color: var(--text-default-default);
  font-family: var(--body-small);
}
.frame-child {
  width: 100%;
  height: 44px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 1px;
  left: 0;
  border-radius: 50px;
  background-color: #e5f5f1;
}
.shop-more-collections {
  margin: 0;
  width: 1130px;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.bracelets-container,
.rectangle-parent {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 35px;
  position: relative;
}
.bracelets-container {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 1px 0 0;
}
.frame-item,
.icon13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.frame-item {
  border-radius: 50%;
}
.icon13 {
  border-radius: var(--br-141xl);
  z-index: 1;
}
.ellipse-parent {
  height: 329px;
  width: 343px;
  position: relative;
  max-width: 100%;
}
.blank-line {
  margin: 0;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  font-family: var(--font-playfair-display);
}
.bold-statements-for,
.earrings {
  position: relative;
  line-height: 140%;
}
.earrings {
  width: 272px;
  height: 50px;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.bold-statements-for {
  font-size: var(--font-size-xl);
}
.earrings-content,
.earrings-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.earrings-description {
  align-self: stretch;
  flex-direction: row;
}
.bracelets-and-rings {
  margin: 0;
}
.blank-line1 {
  margin: 0;
  font-size: var(--body-strong-size);
  font-weight: 600;
  font-family: var(--font-playfair-display);
}
.bracelets-and-rings-container {
  align-self: stretch;
  height: 49px;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.bracelets-and-rings-container,
.to-stay-in {
  position: relative;
  line-height: 140%;
}
.bracelets-parent,
.to-stay-in-style-everyday-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.to-stay-in-style-everyday-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-4xl) 0 var(--padding-mini);
  font-size: var(--font-size-xl);
}
.bracelets-parent {
  width: 272px;
  flex-direction: column;
}
.earrings-container,
.earrings-container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.earrings-container {
  align-self: stretch;
  align-items: flex-end;
  gap: 52px;
}
.earrings-container-wrapper {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-30xl) var(--padding-8xl) 0 0;
  box-sizing: border-box;
  min-width: 358px;
}
.icon14 {
  position: absolute;
  top: 0;
  left: 1px;
  border-radius: var(--br-141xl);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.ellipse-group {
  height: 329px;
  width: 344px;
  position: relative;
  max-width: 100%;
}
.inner-categories-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  max-width: 100%;
  font-size: var(--font-size-11xl);
}
.product-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 86px;
  max-width: 100%;
}
.product-cards-wrapper {
  width: 1399px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 67px 130px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: 35px;
  color: var(--color-black);
  font-family: var(--font-adamina);
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-brand-default);
  width: 100%;
  height: 100%;
  display: none;
}
.all-copyrights-reserved {
  position: absolute;
  top: 129.3px;
  left: 545.8px;
  font-size: var(--font-size-xl-6);
  line-height: 31.9px;
  display: inline-block;
  width: 554.9px;
  height: 31.9px;
  z-index: 1;
}
.information1 {
  margin: 0;
  font-weight: 600;
}
.blank-line2 {
  margin: 0;
  font-size: var(--font-size-lgi-8);
}
.information,
.privacy-policy {
  align-self: stretch;
  position: relative;
}
.information {
  height: 37.7px;
  line-height: 140%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.privacy-policy {
  line-height: 28px;
  z-index: 1;
}
.refund-policy {
  flex: 1;
  position: relative;
  line-height: 140%;
  cursor: pointer;
  z-index: 1;
}
.policies,
.refund-policy-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.refund-policy-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-7xs) 0 var(--padding-10xs);
}
.policies {
  flex-direction: column;
  gap: 48.6px;
  flex-shrink: 0;
}
.service {
  height: 31.9px;
  flex: 1;
  position: relative;
  line-height: 140%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.policies-parent,
.service-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.service-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 71px 0 var(--padding-49xl);
}
.policies-parent {
  flex: 1;
  flex-direction: column;
  gap: 14.3px;
}
.information-parent-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-smi) 0 var(--padding-mid);
  font-size: var(--font-size-lgi-8);
}
.information-parent {
  position: absolute;
  top: 45.2px;
  left: 1084.6px;
  width: 248.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 28.9px;
}
.instagram-icon {
  height: 35.3px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.follow-us {
  width: 128px;
  position: relative;
  line-height: 32px;
  font-weight: 600;
  white-space: pre-wrap;
  display: inline-block;
  z-index: 2;
}
.facebook-icon,
.linkedin-icon {
  height: 35.3px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 35px;
  z-index: 2;
}
.linkedin-icon {
  z-index: 3;
}
.social-icons,
.social-icons-container {
  flex-direction: row;
  align-items: flex-start;
}
.social-icons {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.social-icons-container {
  align-self: stretch;
  padding: 0 0 0 var(--padding-2xl);
}
.follow-container,
.social-icons-container,
.socials {
  display: flex;
  justify-content: flex-start;
}
.follow-container {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 19.2px;
}
.socials {
  width: 229px;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-11xs);
}
.contact-us {
  margin: 0;
  font-size: var(--font-size-3xl-3);
  font-weight: 600;
}
.contact-us-pearlyhuesgmailco-container {
  align-self: stretch;
  height: 261px;
  position: relative;
  line-height: 140%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.contact-parent,
.socials-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-parent {
  flex: 1;
  flex-direction: column;
  padding: 22.8px 0 0;
  box-sizing: border-box;
  min-width: 246px;
  margin-left: -23.2px;
  font-size: var(--font-size-lgi-8);
}
.socials-parent {
  position: absolute;
  top: 21.2px;
  left: 56.2px;
  width: 583.8px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 20px;
}
.rectangle-group {
  align-self: stretch;
  height: 378px;
  position: relative;
  background-color: var(--background-brand-default);
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-3xl-3);
  color: var(--background-default-default);
  font-family: var(--font-playfair-display);
}
.necklace {
  width: 100%;
  height: 2349px;
  position: relative;
  background-color: var(--color-peachpuff);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 281px 0 0;
  box-sizing: border-box;
  gap: 94px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .product-content-wrapper {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .product-cards-wrapper {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
  .necklace {
    height: auto;
  }
}
@media screen and (max-width: 1050px) {
  .necklace-treasure-the-container {
    font-size: 26px;
    line-height: 56px;
  }
  .product-content-wrapper {
    padding-bottom: 30px;
    box-sizing: border-box;
  }
  .shop-more-collections {
    font-size: 28px;
    line-height: 39px;
  }
}
@media screen and (max-width: 750px) {
  .earrings-container {
    gap: 26px;
  }
  .earrings-container-wrapper {
    min-width: 100%;
  }
  .product-cards {
    gap: var(--gap-24xl);
  }
  .product-cards-wrapper {
    padding-bottom: 84px;
    box-sizing: border-box;
  }
  .rectangle-group {
    height: auto;
    min-height: 378;
  }
  .necklace {
    gap: 47px;
  }
}
@media screen and (max-width: 450px) {
  .necklace-treasure-the-container {
    font-size: var(--font-size-lgi);
    line-height: 42px;
  }
  .product-content-wrapper {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .shop-more-collections {
    font-size: 21px;
    line-height: 29px;
  }
  .earrings {
    font-size: var(--font-size-lgi);
    line-height: 34px;
  }
  .bold-statements-for,
  .to-stay-in {
    font-size: var(--body-strong-size);
    line-height: 22px;
  }
  .product-cards {
    gap: var(--gap-2xl);
  }
  .all-copyrights-reserved {
    font-size: var(--body-strong-size);
    line-height: 23px;
  }
  .contact-us-pearlyhuesgmailco-container,
  .follow-us,
  .information {
    font-size: var(--font-size-lg);
    line-height: 25px;
  }
  .contact-parent {
    margin-left: 0;
  }
  .necklace {
    gap: var(--gap-4xl);
  }
}